.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
}

.fixedTopHeader {
  position: fixed;
  width: 100%;
  background-color: #000;
}

.mainContent {
  padding-top: 135px;
}
