:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --secondary-color: #f5821e;
  --main-header-height: 135px;
  --screen-2xl: 1536px;
  --screen-xl: 1280px;
  --screen-lg: 1024px;
  --screen-md: 768px;
  --screen-sm: 576px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.movie-detail-breadcrumb {
  margin-bottom: 1rem;
}
