.trailerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: min(calc(100% - 1.5rem), 50rem);
  height: min(calc(100vh - 5rem), 25rem);
  box-shadow: 0 1px 2px 0 rgba(223, 227, 230, 0.1),
    0 2px 6px 2px rgba(223, 227, 230, 0.15);
  z-index: 3;
}

.trailerIframe {
  border: none;
}
